body {
    text-align: center;
    font-family: 'Liberation Serif',serif;
}

table {
    display: inline;
}
td {
    padding-left:15px;
    padding-right:15px;
}
html {
    background-color:darkslategrey;
    color:white;
    font-size:110%;
}
a {
    color:white;
    text-decoration:none;
}
h1 {
    font-size:250%;
}